
body{
    text-align: center;
    background: url(fondos-de-pantalla-para-paginas-web-colores-claros-768x482.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;

}
#titulo{
    font-family: "Lucida Handwriting";
    font-size: 130px;
    background:linear-gradient(to right,#1d00e2, #171898, #193f83, #55a7d3, #fffd00,#ffaf0d, #ffbf0c, #ff5e0b,#e2063f) ;
    -webkit-background-clip: text;
    color: transparent;
}

div{
    text-align: center;

}
#botonenvi{
    height: 30px;
    width: 12%;
    text-align: center;
    font-size: 20px;
}

#tabla{
    height: 400px;
    width: 59%;
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("fondo1-768x480.jpg") bottom left repeat-x;
    color: #fff;
    font-size: 20px;
}
td, th {
    background: #fff;
    color: #000;
}
#titulo2{
    color: #ffffff;
    font-size: 80px;
}
